// Couleurs

$gris: #707070;
$bleuFonce: #041E42;
$bleuMoyen: #1479B6;
$bleuCiel: #62B9E5;
$orange: #f0824d;
$bleuPrix: #0E588C;


// Fonts

$sysBold: "SysTT Bold", sans-serif;
$hindLight: "Hind Light",
sans-serif;
$hindMedium: "Hind Medium",
sans-serif;
$hindRegular: "Hind Regular",
sans-serif;
$hindSemiBold: "Hind SemiBold",
sans-serif;
$hindBold: "Hind Bold",
sans-serif;
