.masque {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;

  .modal {
    max-width: 640px;
    width: 100%;
    height: auto;
    padding: 30px 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-image: url('./images/formulaire/formulaire.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    color: white;

    @media screen and(min-width:992px) {
      background-image: url('./images/section-2/digital-bis-desk.png');
      background-position: 20% center;
      max-width: 90%;
      top: 50%;
    }

    // overflow-y: scroll;

    .close {
      text-align: right;
      color: white;
      font-weight: bold;
      cursor: pointer;
      font-size: 30px;
      width: 40px;

      img {
        width: 30px;
      }
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

  }

  // Formulaire Hubspot
}

.closeModal {
  display: none;
}

.section-formulaire {
  background-image: url('./images/formulaire/formulaire.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  color: white;
  padding: 80px 0px;

  @media screen and(min-width:992px) {
    // background-image: url('./images/section-2/digital-bis-desk.png');
    background-image: url('./images/formulaire/formulaire.png');
    background-position: 20% center;
    top: 50%;
  }


}

.wrap-form {
  height: auto;
  margin: 0 0 0 auto;
  // max-width: 640px;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0 auto 35px;
    font-size: 40px;
    text-align: center;
  }

  h3 {
    font-size: 25px;
    margin-bottom: 70px;
  }

  .form-display {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and(max-width:1024px) {
      justify-content: center;

      img {
        display: none;
      }
    }
  }

  // overflow-y: scroll;

  .hbspt-form {
    width: 100%;
    max-width: 600px;
  }

  iframe,
  .hs-form-iframe {
    width: 100% !important;
    min-width: 250px !important;
    max-width: 600px !important;
    margin: 0 0 0 auto;

    @media screen and(min-width:992px) {
      max-width: 800px !important;
    }

    body {
      width: 100%;
    }
  }

  label {
    color: white;
  }


  @media screen and(min-width:992px) {
    // flex-flow: row nowrap;
    // justify-content: space-between;
    // align-items: flex-start;
    max-width: 1180px;
    margin: 0 auto;

    // &>div {
    //   margin: 0 auto;
    // }
  }


}

.hubspot-link__container .sproket {
  display: none !important;
}
